/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

/** Code by : Luis Manuel Rodriguez Gonzalez **/

h1{
    /* Font size */
    font-size: 55px;

    /* Family font */
    font-family: monospace;

    /* Font color */
    color: brown;

    /* Text aling = center */
    text-align: center;
}
