#tooltip {
        background-color: white;
        border: 1px solid black;
        display: none;
        font-family: sans-serif;
        font-size: 16px;
        padding: 10px;
        position: absolute;
      }
#title{
  font-family: "Times New Roman",cursive,sans-serif;
  font-size: 100px;
  margin-left: 40px;
}
