/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/
.indent{
  margin-left: 10px;
  padding-left: 0;
}

.font{
  font-family: "Times New Roman", sans-serif;
}

.font-size{
  font-size: 100px;
}
